# Gradle
.gradle/
build/

# Android
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kotlin
out/u
# JVM heap dumps
*.hprof

# Gradle / build
.gradle/
build/
